<div style="margin-bottom:50px;">
    <h5 style="color: rgb(50 50 50); margin-bottom:30px">{{ ropa['nombre'] }}</h5>

    {% if 'imagen' in ropa %}
    <div>
    <img src="{{ ropa['imagen'] }}" style="width:100%; height:200px; object-fit:cover; border-radius:10px;">
    </div>
    {% endif %}
    <div>
      <b style="margin-bottom:4px">Descripcion:</b> {{ ropa['descripcion'] }}
    </div>
    {% if 'precio' in ropa %}
    <div>
      <b>Precio:  $</b> {{ ropa['precio'] }}
    </div>
    {% endif %}
  </div>
  
