<style>
  .ropa-container {
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    

  }

  .ropa-title {
    color: #323232; /* Slightly darker for better readability */
    margin-bottom: 30px;
    font-size: 24px; /* Larger font size for titles */

    /* Add a shadow effect */
    text-shadow: 1px 1px 2px #ddd;
  }

  .ropa-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .ropa-description, .ropa-price {
    margin-bottom: 10px;
    font-size: 15px; /* Slightly larger for readability */
  }

</style>

<div class="ropa-container">
    <h5 class="ropa-title">{{ ropa['nombre'] }}</h5>

    {% if 'imagen' in ropa %}
    <div>
    <img src="{{ ropa['imagen'] }}" class="ropa-image">
    </div>
    {% endif %}
    <div class="ropa-description">
      <b>Descripcion:</b> {{ ropa['descripcion'] }}
    </div>
    {% if 'precio' in ropa %}
    <div class="ropa-price">
      <b>Precio:  $</b> {{ ropa['precio'] }}
    </div>
    {% endif %}
</div>
